@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.69),rgba(0, 0, 0, 0.69)),
    url('/images/header-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 80px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li a:hover{
    color: #31B164;
    transition: 0.5s;

}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size:60px ;
    color: #fff !important;
    background-color: transparent !important;
    letter-spacing: 0.05em;
    line-height: 1.8;
    transition: all 0.5s;
    font-weight: 500;
}

.text-box h6{
    font-size:30px ;
}

.text-box p{
    margin: auto;
    line-height: 1.8;
    color:rgba(255, 255, 255, 0.75);
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    margin-top: 40px;
    padding:14px 34px;
    font-size: 16px;
    background: transparent;
    font-weight:500;
    position: relative;
    cursor: pointer;
    transition-duration: 0.4s;
}

.hero-btn:hover{
  background-color: #4CAF50; /* Green */
  color: white;
  border: #4CAF50;
}

@media(max-width: 700px){
    .text-box h1{
        font-size:30px ;
    }

    .text-box h6{
        font-size:20px ;
    }

    .nav-links ul li{
        display: block;

    }

    .nav-links ul li a{
        color:rgb(169, 162, 162);

    }

    .nav-links{
        position: absolute;
        background:white;
        height:100vh;
        width:200px;
        top:0;
        right:0;
        text-align: left;
        z-index: 2;

    }

    }